/* ================================================== */
/* IMPORTS */
/* ================================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* ================================================== */
/* BASIC */
/* ================================================== */

:root {
    --background: #F5F6F8;
    --surface: #FFFFFF;

    --primary: #3D405B;
    --secondary: #5A5E87;

    --accent-green: #60D394;
    --accent-red: #EE6055;

    --text: #1A1A1A;
    --text-alt: #8A8F98;

    --border: #F5F6F8;
    --surface-alt: #0B0B0F85;
    --surface-alt-2: #E8F0FE;

    --f0: 12px;
    --f1: 16px;
    --f2: 24px;
    --f3: 32px;
    --f4: min(36px, 10vw);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

*::-webkit-scrollbar { display: none; }

*::selection {
    background-color: var(--surface-alt);
    color: var(--text-alt);
}

/* ================================================== */
/* CONTAINERS */
/* ================================================== */

body {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
}

html { scroll-behavior: smooth; }

/* ================================================== */
/* DISPLAY */
/* ================================================== */

.hidden { display: none; }
.flex { display: flex; }
.grid { display: grid; }

/* ================================================== */
/* FLEX */
/* ================================================== */

.row {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.res-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.v-center { align-items: center; }
.v-en { align-items: end; }
.v-st { align-items: start; }
.h-center { justify-content: center; }
.h-en { justify-content: end; }
.h-se { justify-content: space-evenly; }
.h-sb { justify-content: space-between; }
.center { display: flex; align-items: center; justify-content: center; }

/* ================================================== */
/* GRID */
/* ================================================== */

.cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
.cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
.rows-1 { grid-template-rows: repeat(1, minmax(0, 1fr)); }
.rows-2 { grid-template-rows: repeat(2, minmax(0, 1fr)); }
.rows-3 { grid-template-rows: repeat(3, minmax(0, 1fr)); }

/* ================================================== */
/* GAP */
/* ================================================== */

.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-20 { gap: 20px; }
.gap-24 { gap: 24px; }
.gap-32 { gap: 32px; }
.gap-40 { gap: 40px; }
.gap-48 { gap: 48px; }
.gap-64 { gap: 64px; }

/* ================================================== */
/* SPACING */
/* ================================================== */

.m-4 { margin: 4px; }
.m-8 { margin: 8px; }
.m-12 { margin: 12px; }
.m-16 { margin: 16px; }
.m-20 { margin: 20px; }
.m-24 { margin: 24px; }
.m-32 { margin: 32px; }
.m-auto { margin: auto; }
.mx-auto { margin: 0 auto;}

.p-4 { padding: 4px; }
.p-8 { padding: 8px; }
.p-12 { padding: 12px; }
.p-16 { padding: 16px; }
.p-20 { padding: 20px; }
.p-24 { padding: 24px; }
.p-32 { padding: 32px; }

/* ================================================== */
/* SIZE */
/* ================================================== */

.w-auto { width: auto; }
.w-full { width: 100%; }
.w-fit { width: fit-content; }
.h-auto { height: auto; }
.h-full { height: 100%; }
.h-screen { height: 100vh; }
.min-h-screen { min-height: 100vh; }

/* ================================================== */
/* TYPOGRAPHY */
/* ================================================== */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.normal-case { text-transform: none; }

.f0 { font-size: var(--f0); }
.f1 { font-size: var(--f1); }
.f2 { font-size: var(--f2); }
.f3 { font-size: var(--f3); }
.f4 { font-size: var(--f4); }

.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }

.h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: var(--f4);
    letter-spacing: 2px;
}

.h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: var(--f3);
    letter-spacing: 2px;
}

.h2-lw {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: var(--f3);
    letter-spacing: 2px;
}

.h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: var(--f2);
    letter-spacing: 1px;
}

.text, .para {
    font-weight: 400;
    text-transform: none;
    font-size: var(--f1);
    letter-spacing: 1px;
}

.mini {
    font-weight: 400;
    text-transform: none;
    font-size: var(--f0);
    letter-spacing: 1px;
}

.title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.highlight {
    color: var(--primary);
}

/* ================================================== */
/* BORDER */
/* ================================================== */

.border { border: 1px solid var(--border); }
.border-0 { border: 0; }
.rounded-0 { border-radius: 0; }
.rounded-8 { border-radius: 8px; }
.rounded-12 { border-radius: 12px; }
.rounded-16 { border-radius: 16px; }
.rounded-full { border-radius: 9999px; }

/* ================================================== */
/* EFFECTS */
/* ================================================== */

.shadow-sm { box-shadow: 0 2px 8px rgb(0 0 0 / 0.12); }
.shadow-md { box-shadow: 0 8px 24px rgb(0 0 0 / 0.16); }
.shadow-lg { box-shadow: 0 16px 40px rgb(0 0 0 / 0.2); }

/* ================================================== */
/* INPUTS */
/* ================================================== */

.input {
    background-color: var(--surface-alt-2);
    color: var(--text);
    border: 1px solid var(--border);
    padding: 8px;
    border-radius: 8px;
    outline: none;
    resize: vertical;
}

.btn {
    padding: 16px;
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-align: center;
}

.ot {
    border: 1px solid var(--border);
    color: var(--text);
}

.fl {
    background-color: var(--primary);
    color: var(--background);
    transition: background-color 0.4s ease-in-out;
}
.fl:hover { background-color: var(--secondary); }

.icon-ot {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border);
    color: var(--text);
}

.icon-fl {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    color: var(--background);
    transition: background-color 0.4s ease-in-out;
}
.icon-fl:hover { background-color: var(--secondary); }

/* ================================================== */
/* LINKS */
/* ================================================== */

.link {
    text-decoration: none;
    font-weight: 500;
    color: var(--text);
    cursor: pointer;
}

.ulink {
    text-decoration: underline;
    font-weight: 500;
    color: var(--text);
    cursor: pointer;
    text-underline-offset: 5px;
}

/* ================================================== */
/* IMAGES */
/* ================================================== */

.img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.logo {
    width: 48px;
    height: 48px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.symbol {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.fl-icon {font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;}

/* ================================================== */
/* OTHER ELEMENTS */
/* ================================================== */

.divider { border: 1px solid var(--border); }

.list { list-style-type: none; }
.no-list { list-style-position: inside; }