<link rel="stylesheet" href="{{ url_for('static', filename='css/base/wizard.css') }}">

<section class="center w-full h-screen wizard-container" id="changePasswordWizard">
    <form action="/auth/change-password" method="post" class="form column gap-20 p-20 rounded-16">
        <span class="symbol link" id="closeWizard">close</span>

        <div class="heading column">
            <h1 class="h1">Change password</h1>
            <span class="text">Provide old password, create a new password, and click update.</span>
        </div>

        <div class="input-list column gap-12">
            <div class="form-elem column gap-4">
                <label for="currentPassword">Current password</label>
                <input required type="password" name="currentPassword" id="currentPassword" class="input"
                    placeholder="Your current password">
            </div>

            <div class="form-elem column gap-4">
                <label for="newPassword">New password</label>
                <input required type="password" name="newPassword" id="newPassword" class="input"
                    placeholder="Create a new password">
            </div>

            <div class="form-elem column gap-4">
                <label for="confirmPassword">Confirm new password</label>
                <input required type="password" name="confirmPassword" id="confirmPassword" class="input"
                    placeholder="Confirm your new password">
            </div>
        </div>

        <button type="submit" class="btn fl p-12 rounded-16 disabled" disabled>
            <span class="mini uppercase">update</span>
        </button>
    </form>
</section>

<script type="module" src="{{ url_for('static', filename='js/base/wizard.js') }}"></script>

<script>
    const newPasswordInput = document.getElementById('newPassword');
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const submitBtn = document.querySelector(".btn.fl");
    const inputArray = [newPasswordInput, confirmPasswordInput];

    function passwordMatched() {
        if (newPasswordInput.value == confirmPasswordInput.value) {
            return true;
        } else { return false; }
    }

    inputArray.forEach((input) => {
        input.addEventListener('input', () => {
            if (passwordMatched()) {
                submitBtn.disabled = false;
                submitBtn.classList.remove('disabled');
            } else {
                submitBtn.disabled = true;
                submitBtn.classList.add('disabled');
            }
        });
    });
</script>