/* ================================================== */
/* APP BODY */
/* ================================================== */

.app-body { position: relative; }

/* ================================================== */
/* INFO ROW */
/* ================================================== */

.info-row {
    width: min(700px, 100%);
    background-color: var(--surface);
}

/* ================================================== */
/* LOGOUT-BTN */
/* ================================================== */

#logoutBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}