<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>AUVORA INFINITY &bull; A NEW STANDARD IN PRODUCTIVITY</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/index.css') }}">
</head>

<body>
    {% include 'components/msg.html' %}

    <header class="header center w-full p-16">
        <a href="/" class="link">
            <img src="{{ url_for('static', filename='assets/icons/logo.png') }}" alt="INFINITY LOGO" class="logo">
        </a>
    </header>

    <main class="main column gap-48">
        <section class="hero">
            <section class="section">
                <img src="{{ url_for('static', filename='assets/images/infinity_text.png') }}" alt="INFINITY" class="img">
            </section>
        </section>

        <section class="intro">
            <section class="section column gap-48">
                <div class="upper-part flex gap-20">
                    <div class="quick-start p-16 rounded-16 shadow-sm column gap-20">
                        <div class="heading row gap-12">
                            <span class="index pv-8 ph-12 rounded-16">01</span>
                            <h1 class="h1">quick start</h1>
                        </div>

                        <p class="para">Initialize your environment in minutes. Sign up and fill your credentials. If
                            you've
                            already signed up. We can move to settings.</p>

                        <a href="/#start" class="link btn p-24 rounded-16" id="signupLink">
                            <span class="text uppercase text-muted">sign up</span>
                        </a>

                        <div class="bottom-controls flex gap-20">
                            <a href="/settings/" class="link btn column gap-4 p-24 rounded-16 text-left">
                                <h3 class="h3">Settings</h3>
                                <span class="text">Customize your experience in INFINITY.</span>
                            </a>

                            <a href="/docs/overview/" class="link btn column gap-4 p-24 rounded-16 text-left">
                                <h3 class="h3">Overview</h3>
                                <span class="text">Explore the core idea of INFINITY in just a minute.</span>
                            </a>
                        </div>
                    </div>

                    <div class="keyboard-shortcuts column gap-12 h-sb shadow-sm p-20 rounded-16">
                        <div class="column gap-12">
                            <span class="text uppercase text-muted">keyboard shortcuts</span>

                            <a href="/docs/shortcuts/" class="link btn p-12 rounded-16">
                                <span class="mini uppercase">checkout all shortcuts</span>
                            </a>

                            <div class="commands column gap-8">
                                <div class="command row h-sb">
                                    <span class="text">Client management</span>
                                    <span class="key-comb p-4 rounded-4">ctrl + alt</span>
                                </div>

                                <div class="command row h-sb">
                                    <span class="text">Workflow management</span>
                                    <span class="key-comb p-4 rounded-4">shift + alt</span>
                                </div>
                            </div>
                        </div>

                        <div class="pro-tip column gap-8 p-16 rounded-16">
                            <span class="text">Pro tip</span>
                            <span class="text">Press [ctrl + /] anywhere to see full list of available shortcuts.</span>
                        </div>
                    </div>
                </div>

                <div class="concepts column gap-20 p-16 rounded-16 shadow-sm">
                    <div class="heading row gap-12">
                        <span class="index pv-8 ph-12 rounded-16">02</span>
                        <h1 class="h1">core concepts</h1>
                    </div>

                    <p class="para">Understand the architectural pillars that make our platform unique. We prioritize
                        simplicity, ease of accessibility, and user experience.</p>

                    <div class="grid gap-20">
                        <div class="concept column gap-12 p-16 rounded-16">
                            <span class="symbol p-12 rounded-16">recent_patient</span>
                            <h2 class="h2">Clients management</h2>

                            <p class="para">INFINITY manages clients in very simple way, the quick wizard implementation
                                makes
                                it faster and ease to use.</p>

                            <!-- <a href="/docs/concepts/clients-management" class="ulink">Read more</a> -->
                        </div>

                        <div class="concept column gap-12 p-16 rounded-16">
                            <span class="symbol p-12 rounded-16">swap_horiz</span>
                            <h2 class="h2">Transactions</h2>

                            <p class="para">Transactions management system of INFINITY is bit unique, but insanely
                                clear. Each
                                payment received points to a specific client service.</p>

                            <!-- <a href="/docs/concepts/transactions" class="ulink">Read more</a> -->
                        </div>

                        <div class="concept column gap-12 p-16 rounded-16">
                            <span class="symbol p-12 rounded-16">all_inclusive</span>
                            <h2 class="h2">INFINITY statistics</h2>

                            <p class="para">The statistics of INFINITY is in its early stage, we have implemented
                                tabular view
                                of all transactions, and we're currently working on INFINITY INSIGHTS.</p>

                            <!-- <a href="/docs/concepts/infinity" class="ulink">Read more</a> -->
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="start" id="start">
            <section class="section center gap-20">
                <div class="left-panel rounded-16 w-full shadow-sm">
                    <div class="signup-content column h-sb p-20 gap-20 rounded-16">
                        <div class="heading column">
                            <h1 class="h1 elem">get started</h1>
                            <p class="para elem">Fill your credentials and start usign INFINITY</p>
                        </div>

                        <form action="/auth/signup" method="post" class="form column gap-12">
                            <div class="form-elem elem column gap-4">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="input" placeholder="Your name">
                            </div>

                            <div class="form-elem elem column gap-4">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="input"
                                    placeholder="Your/Company email">
                            </div>

                            <div class="form-elem elem column gap-4">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="input"
                                    placeholder="Create a password">
                            </div>

                            <button type="submit" class="btn elem fl p-12 rounded-16">
                                <span class="mini title">get started</span>
                            </button>
                        </form>

                        <span class="text ulink elem" id="openLogin">Already have an account? Login</span>
                    </div>

                    <div class="login-content column h-sb gap-20 p-20 rounded-16">
                        <div class="heading column">
                            <h1 class="h1 elem">welcome back</h1>
                            <p class="para elem">Login with your credentials to continue usign INFINITY</p>
                        </div>

                        <form action="/auth/login" method="post" class="form column gap-12">
                            <div class="form-elem elem column gap-4">
                                <label for="login-email">Email</label>
                                <input type="email" name="email" id="login-email" class="input"
                                    placeholder="Your/Company email">
                            </div>

                            <div class="form-elem elem column gap-4">
                                <label for="login-password">Password</label>
                                <input type="password" name="password" id="login-password" class="input"
                                    placeholder="Enter your password">
                            </div>

                            <button type="submit" class="btn elem fl p-12 rounded-16">
                                <span class="mini title">login</span>
                            </button>
                        </form>

                        <span class="text ulink elem" id="openSignup">Don't have an account? Signup</span>
                    </div>
                </div>

                <div class="right-panel w-full rounded-16 shadow-sm">
                    <img src="{{ url_for('static', filename='assets/icons/logo.png') }}" alt="INFINITY LOGO"
                        class="img rounded-16">
                </div>
            </section>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/base/index.js') }}"></script>
</body>

</html>