/* ================================================== */
/* TOP ROW */
/* ================================================== */

.top-row { height: 10%; }
.top-row .active { background-color: var(--accent-green); }
.top-row .inactive { background-color: var(--accent-red); }

/* ================================================== */
/* CONTROLS ROW */
/* ================================================== */

.controls-row { height: 10%; }
.controls-row .btn {
    min-width: 190px;
    max-width: 230px;
}

/* ================================================== */
/* INFO ROW */
/* ================================================== */

.info-row { height: 50%; }
.info-row .client-info .notes { overflow: scroll; }

.info-row .provided-services { background-color: var(--surface); }
.info-row .provided-services .body { overflow: scroll; }

/* ================================================== */
/* PAYMENTS ROW */
/* ================================================== */

.payments-row { height: 30%; }
.payments-table { overflow: scroll; }
.payments-table .table-row {
    background-color: var(--surface);
    position: relative;
}

.payments-table .management-row {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--surface-alt-2);
    
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;

    transition: 
        transform 0.4s ease-in-out,
        opacity 0.4s ease-in-out;
}

.payments-table .management-row.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}