<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>CLIENTS &bull; INFINITY</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clients/clients.css') }}">
</head>

<body>
    {% include 'components/msg.html' %}
    {% include 'widgets/new_client.html' %}

    <main class="main">
        {% include 'components/sidebar.html' %}

        <section class="app-content">
            {% include 'components/header.html' %}

            <section class="app-body column gap-20">
                <div class="head row h-sb">
                    <h2 class="h2">all clients</h2>

                    <div class="row gap-8">
                        <span class="link symbol" id="addClientBtn">add</span>
                        <input type="number" name="yearSelect" id="yearSelect" class="input" value="2026">
                        <span class="link symbol" id="filterClientBtn">filter_list</span>
                    </div>
                </div>

                <table class="clients-table column gap-12">
                    <thead class="w-full">
                        <tr class="grid cols-3 p-12">
                            <th class="flex"><span class="text uppercase text-left w-full">name</span></th>
                            <th class="flex"><span class="text uppercase text-center w-full">status</span></th>
                            <th class="flex"><span class="text uppercase text-right w-full">acquisition date</span></th>
                        </tr>
                    </thead>

                    <tbody class="w-full">
                        {% for client in data.clients %}
                        {% if not client.is_deleted %}
                        <tr class="grid cols-3 p-12">
                            <td class="flex"><a href="/clients/{{ client.id }}" class="ulink">
                                    <span class="text text-left w-full">{{ client.name }}</span>
                                </a></td>

                            <td class="flex"><span class="text text-center w-full">{{ client.status }}</span></td>
                            <td class="flex"><span class="text text-right w-full">{{ client.created_at }}</span></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/clients/clients.js') }}"></script>
</body>

</html>